{% extends 'layout/default_layout.twig' %}
{% use 'views/menu/menu.twig' %}
{% block container %}
<!--INITIAL BOX MOBILE-->
<div class="col-md-4">
	<form>
		<!--INITIAL CONSOLIDADOS-->
		<small>Solicitud de deposito</small>
		<hr>
			<label for="exampleInputEmail1" class="header-text header-text_lm">Cantidad a depositar</label>
				<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
			<hr>
			<label for="exampleInputEmail1" class="header-text header-text_lm">Opcion de pago</label>
			<select class="form-control">
				<option>PAYPAL</option>
				<option>BITCOIN</option>
				<option>AIRTM</option>
				<option>DEPOSITO BANCARIO</option>
			</select>
			<hr>
			<div class="btn btn-outline-info btn-block btn-lg" style="white-space: normal; text-align: justify; font-size:13px; font-weight: lighter;">
			<small>TIP #001</small>
			<hr><small>
			Recuerde que el dinero depositado en esta plataforma esta soportado por Bitcoin, asi que el saldo depositado en esta plataforma esta anclado a la moneda bitcoin de manera indirecta. Threetanium S.A se hace cargo del dinero depositado aqui, invierto en la red de bitcoin con su dinero para que este altamente seguro. unido a las leyes de conducta de la criptomoneda "Bitcoin".</small></div>
			<div class="space_top_lg"></div>
			<button class="btn btn-outline-success btn-lg btn-block">Solicitar deposito</button>
		<!--CLOSE COSOLIDADOS-->
	</form>
</div>
{% endblock %}