{% extends 'layout/default_layout.twig' %}
{% use 'views/menu/menu.twig' %}
{% block container %}
<div class="col-md-4">
	<form>
		<!--INITIAL PROFILE-->
		<div class="card text-white bg-info mb-3" style="max-width: 100%; border-radius:0; border-radius:0;">
		  	<div class="card-header">
		  		<div class="row">
					<div class="col-10">
						<div class="">Yean Abadia</div>
						<small>Informacion personal</small>
					</div>
					<div class="col-2">
						<div style="float:right;">
							<button class="btn btn-light btn-block btn-lg">
								<span class="fas fa-clipboard-check"></span>
							</button>
						</div>
					</div>
				</div>
		  	</div>
		  	<div class="row">
			  	<div class="col-4">
			  		<img src="FILES/LOGIN/USER_PROFILE/user_19940929.jpeg" class="img-profile">
			  	</div>
			  	<div class="col-8">
					<div class="card-body space_left_lg">
						<p class="card-text"><span class="fas fa-mobile"></span> + 573176668493</p>
						<p class="card-text"><span class="fas fa-file-signature"></span> C 57317FHJ8490</p>
					</div>
				</div>
			</div>
		</div>
		<!--CLOSE PROFILE-->
		<!--INITIAL CONSOLIDADOS-->
		<div class="card bg-light mb-3" style="max-width: 100%; border-radius:0;">
			<div class="card-header">Consildado</div>
			<div class="card-body">
				<h5 class="card-title balance-text">$ 89,04</h5>
				<p class="card-text balance-text_sm">BALANCE ACTUAL</p>
				<div class="space_top_lg"></div>
			</div>
		</div>
		<!--CLOSE COSOLIDADOS-->
		<!--INITIAL FUNCTIONS-->
		<div class="">
			  <button type="button" class="width-49_lt keyboard-button-left-top">DEPOSITAR</button>
			  <button type="button" class="width-49_rg keyboard-button-right-top">RETIRAR</button>
			  <button type="button" class="width-49_lt keyboard-button-left-bottom">VENDER</button>
			  <a href="FILES/WALLET/DEPOS/deposito.php">
			  	<button type="button" class="width-49_rg keyboard-button-right-bottom">TRANSFERIR</button></a>
		</div>
		<div class="space_top_lg"></div>

		<!--INITIAL TRANSACTIONS-->
		<div class="card bg-light mb-3" style="max-width: 100%; border-radius:0;">
			<div class="card-header">
				<div class="row">
					<div class="col-10">
						Movimientos<br>
						<small>Transferencias, Pagos y Depositos</small>
					</div>
					<div class="col-2">
						<div style="float:right;">
							<button class="btn btn-primary btn-block btn-lg">
								<span class="fas fa-info-circle"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body table-responsive-sm">
				<table class="table table-striped">
					<tr>
						<th>Descripcion</th>
						<td>0d0d9x88d8s77x0993-09</td>
					</tr>
					<tr>
						<th>Tipo</th>
						<td>Entro</td>
					</tr>
					<tr>
						<th>Valor</th>
						<td>89</td>
					</tr>
					<tr>						
						<th>Icon</th>
						<td>--></td>
					</tr>
				</table>
			</div>
		</div>
	</form>
</div>
{% endblock %}