/* START CSS */
    /* BAR */

    .bar {
        width: 100%;
        height: 55px;
        background: #fafafa;
        position: fixed;
        left: 0;
        bottom: 0;
        box-shadow: 1px 2px 5px 1px black;
    }

    .bar table {
        width: 100%;
        text-align: center;
    }

    .bar .bar-letter {
        font-size: 10px;
        font-family: arial;
    }

    .bar .bar-icon {
        font-size: 20px;
        font-family: arial;
    }

    /* BUTTONS */


    /* CLOSE BUTTONS */


    /* ESPACIADORES */
    .space_top {
        margin-top: 5px;
    }

    .space_top_lm {
        margin-top: 10px;
    }

    .space_top_lg {
        margin-top: 15px;
    }

    .space_left {
        margin-left: 5px;
    }

    .space_left_lm {
        margin-left: 10px;
    }

    .space_left_lg {
        margin-left: 15px;
    }
    /* CLOSE SPACERS */



    /* TEXT H OR HEADERS */
    .header-text {
        font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-style: normal; font-variant: normal;
    }

    .header-text_lm {
        font-weight: lighter; line-height: 26.4px; font-size: 19px;
    }

    .header-text_sm_center {
        font-weight: lighter; line-height: 11.4px; font-size: 12px; text-align: center;
    }

    .card-body p {
        margin-bottom: 1px;
    }

    .balance-text {
        text-align: center;
        font-size: 60px;
        font-weight: lighter;
    }

    .balance-text_sm {
        text-align: center;
        font-size: 12px;
    }

    /* IMG CLASS */

    .img-profile {
        width: 120px;
        border-radius: 50%;
        margin: 15px;
    }

    /* CLOSE IMG */


    /* BTN EDIT */

    .btn-wrap_nm {
        white-space: normal;
    }

    .a-selection {
        text-decoration: none;
    }

    .btn-selection_blue {
        height: 150px;
        border: 1px solid rgb(14, 76, 144);
        box-shadow: 0px 3px 2px 0px rgb(14, 76, 144);
    }

    .btn-selection_blue h5 {
        font-size:20px;
        font-weight: 700;

    }

    .btn-selection_blue p {
        font-size: 16px;
        font-weight: lighter;
        text-decoration: none;
    }

    /*KEYBOARD BUTTON*/

    .keyboard-button-left {
        width: 32.3%;
        height: 45px;
        border:none;
        cursor:pointer;
        
    }

    .keyboard-button-left-top {
        width: 32.3%;
        height: 45px;
        border:none;
        cursor:pointer;
    }

    .keyboard-button-left-bottom {
        width: 32.3%;
        height: 45px;
        border:none;
        cursor:pointer;    
    }

    .keyboard-button-right {
        width: 32.3%;
        height: 45px;
        border:none;
        cursor:pointer;    
    }

    .keyboard-button-right-top {
        width: 32.3%;
        height: 45px;
        border:none;
        cursor:pointer;
    }

    .keyboard-button-right-bottom {
        width: 32.3%;
        height: 45px;
        border:none;
        cursor:pointer;    
    }

    .keyboard-button-center {
        width: 32.3%;
        height: 45px;
        cursor:pointer;    
        border:none;
    }

    .keyboard-button-left:hover {
        background: blue;
    }

    .keyboard-button-left-top:hover {
        background: blue;
    }

    .keyboard-button-left-bottom:hover {
        background: blue;
    }

    .keyboard-button-right:hover {
        background: blue;
    }

    .keyboard-button-right-top:hover {
        background: blue;
    }

    .keyboard-button-right-bottom:hover {
        background: blue;
    }

    .keyboard-button-center:hover {
        background: blue;
    }

    /* CLOSE BTN */

    /* FUNCTIONS */
    .width-49_lt {
        width:50%;
        margin: auto;
        margin-right: 0px;
    }

    .width-49_rg {
        width:50%;
        margin: auto;
        margin-left: -5px;
    }

    /*CLOSE FUNCTIONS*/