{% extends "layout/default_layout.twig" %}
{% block stylesMore %}
     <link href="{{assets}}/css/cover.css" rel="stylesheet">
{% endblock %}
{% block container %}
	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Yanic</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <img class="img-responsive" src="{{assets}}/img/logo.png">
            <hr>
            <p class="lead">Yanic is a mini-framework for small and medium projects, using the principles of MVC in the methods of development and web design.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-info">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>(c) Copyright Yanic Framework Projects by <a href="https://www.facebook.com/goldroyer">Andres Sandoval</a> & <a href="#">Yean Castaño</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>
{% endblock %}