{% block menu %}
<div class="bar">
	<table>
		<tbody>
			<tr>
				<th>
					<a href="/wallet">
						<div class="bar-icon">
							<span class="fas fa-key"></span>
						</div>
						<div class="bar-letter">Wallet</div>
					</a>
				</th>
				<th>
					<a href="/gaming">
						<div class="bar-icon">
							<span class="fas fa-gamepad"></span>
						</div>
						<div class="bar-letter">Games</div>
					</a>
				</th>
				<th>
					<span class="fas fa-newspaper"></span>
					<div class="bar-letter">News</div>
				</th>
				<th>
					<span class="fas fa-long-arrow-alt-right"></span>
					<div class="bar-letter">Logout</div>
				</th>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}